.home{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lasagna{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
}